<% unless comment.archived? %>
  <div class='comments'>
    <p class='commenter'>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p class='comment'>
      <strong>Comment:</strong>
      <%= comment.body %>
    </p>

    <p class='button'>
      <%= link_to 'Delete Comment', [comment.article, comment],
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </p>
  </div>
<% end %>
